.app {
  height: 100vh;
  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    background: lightsalmon;
    position: relative;
    // start after 70px
    top: 70px;

    // back to top behavior, smooth
    scroll-behavior: smooth;

    // not working on Chrome
    // scroll-snap-type: y mandatory;
    // scrollbar-width: none; //only works on firefox

    // full screen removed the scrollbar on the right
    &::-webkit-scrollbar {
      display: none;
    }

    // for each element inside
    > * {
      width: 100vw;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
  }
}
